/* Cleaning some default styles */

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General settings */
html {
  max-width: 100%;
  font-size: $root-font-size; /* 1 rem = 16px */
}

body {
  color: $color-dark;
  font-family: $font-primary;
}
