.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 5px solid $color-primary;
  &-navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: toRem(95px);
    width: 100%;
    &-logo-container {
      margin-left: toRem(22px);
    }
    &-menu {
      &-button {
        margin-right: toRem(26px);
      }
      &-item {
        display: none; // temporary
        list-style: none;
      }
    }
  }
}
