.Search {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 toRem(26px) 0 toRem(22px);
  text-align: center;
  &-title {
    margin-top: toRem(7px);
    color: $color-primary;
    font-size: toRem(25px);
    font-weight: 700;
    line-height: toRem(33px);
    text-align: center;
    &-newLine {
      display: inline-block;
      margin-left: toRem(4px);
    }
    &-highlight {
      color: $color-secondary;
    }
  }
  &-img {
    margin-top: toRem(31px);
    width: toRem(273px);
  }
  &-searchBar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: toRem(50px);
    width: 100%;
    max-width: toRem(500px);
    border: 1px solid $color-primary;
    border-radius: toRem(27px);
    &-img {
      margin-right: toRem(20px);
    }
    &-input {
      margin-left: toRem(55px);
      color: $color-dark;
      font-family: $font-secondary;
      font-size: toRem(16px);
      text-align: left;
    }
  }
  &-trending {
    margin: toRem(31px) toRem(46px);
    text-align: center;
    &-title {
      color: $color-primary;
      margin-bottom: toRem(10px);
    }
    &-topics {
      line-height: toRem(25px);
    }
  }
}
