/* Cleaning some default styles */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General settings */
html {
  max-width: 100%;
  font-size: 16px; /* 1 rem = 16px */
}

body {
  color: hsl(0, 0%, 0%);
  font-family: "Montserrat", sans-serif;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 5px solid hsl(253, 78%, 54%);
}
.Header-logo-container {
  margin-left: 1.375rem;
}
.Header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.9375rem;
}
.Header-navbar-button {
  margin-right: 1.625rem;
}
.Header-navbar-menu {
  display: none;
}
.Header-navbar-menu--isOpen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 5.9375rem;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: hsl(253, 78%, 54%);
  opacity: 0.9;
  z-index: 1;
}
.Header-navbar-menu-item {
  width: 7.1875rem;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  padding: 1rem;
  text-decoration: none;
  border-bottom: 1px solid hsl(0, 0%, 100%);
}

.Search {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 1.625rem 0 1.375rem;
  text-align: center;
}
.Search-title {
  margin-top: 0.4375rem;
  color: hsl(253, 78%, 54%);
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 2.0625rem;
  text-align: center;
}
.Search-title-newLine {
  display: inline-block;
}
.Search-title-highlight {
  color: hsl(167, 72%, 60%);
}
.Search-img {
  margin-top: 1.9375rem;
  width: 17.0625rem;
}
.Search-searchBar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 3.125rem;
  width: 100%;
  border: 1px solid hsl(253, 78%, 54%);
  border-radius: 1.6875rem;
}
.Search-searchBar-img {
  margin-right: 1.25rem;
}
.Search-searchBar-input {
  margin-left: 3.4375rem;
  color: hsl(0, 0%, 0%);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: left;
}
.Search-wrapper {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}
.Search-wrapper-title {
  margin: 2.5rem 0;
  color: hsl(253, 78%, 54%);
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 2.0625rem;
  text-align: center;
}
.Search-result {
  width: 40%;
  height: 7.5rem;
  position: relative;
  max-width: 16.25rem;
  margin-bottom: 1.5625rem;
  overflow-y: hidden;
}
.Search-result-gif {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 100%;
}
.Search-result-gif-overlay {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.4375rem;
  background-color: rgba(87, 46, 229, 0.6);
}
.Search-result-gif-overlay-title {
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  font-weight: 700;
}
.Search-result-gif-overlay-wrapper {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.Search-result:hover div {
  display: flex;
}
.Search-trending {
  margin-top: 1.9375rem;
  color: hsl(253, 78%, 54%);
  text-align: center;
}

.Favourites {
  display: none;
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0px;
  width: 100%;
  border-bottom: 5px solid hsl(253, 78%, 54%);
}
.Footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Footer-social-text {
  margin-bottom: 1.5rem;
}
.Footer-social-network {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 8.75rem;
}
.Footer-social-icon {
  margin: 0 0.625rem 0;
}
.Footer-copyright {
  margin: 2.875rem 0 1.4375rem;
}/*# sourceMappingURL=styles.css.map */