footer {
    text-align: center;
    p {
        margin-top: 47px;
        margin-bottom: 24px;
        font-family: $font-secondary;
        font-weight: 400;
        font-size: 0.9375rem;
        letter-spacing: 0;
        color: $color-black;
    }
    .social-networks {
        margin: 0 140px;
        display: flex;
        justify-content: space-between;
    }
    p .copyright {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}
