* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  border-top: 5px solid #572ee5;
  border-bottom: 5px solid #572ee5;
  font-family: "Montserrat", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 95px;
}

header #logo-mobile {
  margin-left: 22px;
}

header nav div ul li {
  list-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  display: none;
}

header nav div ul li a {
  text-decoration: none;
}

header nav #burger {
  margin-right: 26px;
}

main {
  text-align: center;
}

main h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5625rem;
  line-height: 2.0625rem;
  color: #572ee5;
  margin: 7px 44px 31px 45px;
}

main h1 span {
  color: #50e3c2;
}

main #ilustra {
  width: 273px;
  margin-bottom: -4px;
}

main #container-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin: 0 21px 0 20px;
  border: 1px solid #572ee5;
  border-radius: 27px;
}

main #container-search form {
  width: 215px;
  margin-left: 55px;
  text-align: left;
}

main #container-search form ::-webkit-input-placeholder {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

main #container-search form :-ms-input-placeholder {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

main #container-search form ::-ms-input-placeholder {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

main #container-search form ::placeholder {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

main #container-search #icon-search {
  margin-right: 20px;
}

main h3 {
  margin: 31px 69px 2px 70px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5625rem;
  color: #572ee5;
}

main .search p {
  margin: 0 75px 45px 75px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5625rem;
  color: #572ee5;
}

main .trending {
  background-color: #f3f5f8;
}

main h2 {
  padding-top: 46px;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #572ee5;
}

main .trending p {
  margin-top: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: #000000;
}

main .carrousel {
  padding: 32px 0 82px 0;
}

footer {
  text-align: center;
}

footer p {
  margin-top: 47px;
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  letter-spacing: 0;
  color: #000000;
}

footer .social-networks {
  margin: 0 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer p .copyright {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
/*# sourceMappingURL=styles.css.map */